@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700');
@import './rules.css';
:root {
    --primary:#d48301;
    --secondary:#e6b120;
    --text:black;
    --tertiary:#80a521;
    --quaternary:#7a7932;
    --backdrop:white;
}
html {
    -webkit-text-size-adjust: 100%;
}
html, body, #root {
    font-family: 'Montserrat', sans-serif;
    height:100%;
    background-color:var(--backdrop);
}
main {
    padding-top:70px;
}


